.border-bottom {
  border-bottom: $frame-border solid black;
}
.border-top {
  border-top: $frame-border solid black;
}
.header {
  // padding-top: 2rem;
  // position: fixed;
  // top: 0;
  // background: $frame-colour;
  // min-width: 100%;
  // z-index: 1000;
  position: fixed;
  top: 0;
  height: 7.5vh;
  padding-bottom: 0.5rem;
}
.footer {
  // padding-bottom: 2rem;
  // position: fixed;
  // bottom: 0;
  // background: $frame-colour;
  // min-width: 100%;
  // z-index: 1000;
  position: fixed;
  width: 90vw;
  height: 7.5vh;
  bottom: 0;
  padding-top: 0.5rem;
}

.header-links {
  margin: 0;
  // margin-bottom: 0.7rem;
  padding: 0;
  display: inline-block;
  list-style-type: none;
  li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  a {
    color: black;
    &:hover {color: grey;}
  }
}

.content-box {
  height: 85vh;
  width: 90vw;
  overflow-y: scroll;
  border: $frame-border solid black;
  // border-radius: 5px;
  &::-webkit-scrollbar {width: 0px;}
  // &::-webkit-scrollbar-track {background: black;}
  // &::-webkit-scrollbar-thumb {background: grey;}
}
#name {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.landing {
  background: url('../images/woman2.jpg');
  background-position: top;
  background-size: cover;
  // background-attachment: fixed;
}
.about {
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.contact-info {
  padding: 5rem;
  p {
    display: inline-block;
    &:after {
      content: '∙';
      padding: 0 1rem;
    }
    &:last-child {
      &:after {content: ''; padding: 0;}
    }
  }
}

.content-footer {
  padding: 3rem 0;
  color: $tertiary;
}

@media only screen and (min-width: 1080px) {
  .landing {
    background-size: contain;
  }
}
