
// Email Form ------------------------------------------------------------------

input {
  &[name='name'], &[name='_replyto'] {
    width: 100%;
    padding: 1rem 0.5rem;
    margin-bottom: 0.5rem;
    outline: none;
    border: none;
    border-bottom: 2px solid $accent;
  }
  &::placeholder {
    color: $accent;
  }
  background: $main;
  color: white;
  font-size: 2rem;
  opacity: 0.8;
}

textarea[name='message'] {
  opacity: 0.8;
  resize: none;
  width: 100%;
  padding: 1rem 0.5rem;
  margin: 0;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  border-bottom: 2px solid $accent;
  background: $main;
  color: white;
  font-size: 2rem;
  &::placeholder {
    color: $accent;
  }
}

input[name='submit'] {
  border: none;
  padding: 1rem;
  border-bottom: 2px solid $main;
}
// Sections --------------------------------------------------------------------

.landing {
  // background-image: linear-gradient(-160deg, rgba(255,255,255,0.0) 30%,rgba(0,20,51,0.7)), url(https://tjstoll.github.io/media/IMG_0737-edit-min.jpg);
  background-image: linear-gradient(90deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/IMG_1360.JPG);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.stack {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/IMG_0811.JPG);
  background-position: center bottom;
  background-size: cover;
  // background-attachment: fixed;
  display: flex;
  flex-direction: column;
  & > .block {margin:0;}
}

.highlight {
  color: $accent;
  font-weight: bold;
}

// Large Screens ----------------------------------------------------------------
@media screen and (min-width: 950px) {
}
