.border-bottom {
  border-bottom: $frame-border solid black;
}
.border-top {
  border-top: $frame-border solid black;
}
.header {
  padding-top: 2rem;
  position: fixed;
  top: 0;
  background: $frame-colour;
  min-width: 100%;
  z-index: 1000;
}
.footer {
  padding-bottom: 2rem;
  position: fixed;
  bottom: 0;
  background: $frame-colour;
  min-width: 100%;
  z-index: 1000;
}

.header-links {
  margin: 0;
  // margin-bottom: 0.7rem;
  padding: 0;
  display: inline-block;
  list-style-type: none;
  li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  a {
    color: black;
    &:hover {color: grey;}
  }
}

#name {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.landing {
  background: url('../images/IMG_1649 (2).jpg');
  background-position: top;
  background-size: cover;
  // background-attachment: fixed;
}

@media only screen and (min-width: 1080px) {
  .landing {
    background-size: contain;
  }
}
