<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>taneisha</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://tjstoll.github.io/media/logo-crop.png"/>
    <link rel="stylesheet" href="css/styles.css">
    <!-- Old FA -->
    <script src="https://use.fontawesome.com/3c607a4c65.js"></script>
    <!-- New FA -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  </head>

  <body>
    <div class="section1 bg-main" style='height: 2vh;'></div>

    <!-- Content here -->

    <div class="section2">
      <div class="flex1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d369484.52063267684!2d-79.60103606820907!3d43.65653528579492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb90d7c63ba5%3A0x323555502ab4c477!2sToronto%2C+ON!5e0!3m2!1sen!2sca!4v1532550621175" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="flex2 section1">
        <div class="">
          <h2>contact</h2>
          <p>taneishastoll@gmail.com</p>
          <p>416 459 5222</p>
          <p>Toronto, ON, Canada</p>
          <form class="" action="" method="post">
            <input type="text" name="" value="" placeholder="name..."><br>
            <input type="text" name="" value="" placeholder="email..."><br>
            <input type="text" name="" value="" placeholder="subject..."><br>
            <textarea name="name" rows="8" cols="80"></textarea>
          </form>
        </div>
      </div>
    </div>

    <!-- Content end -->

    <div class="">

    </div>

    <div class="container bg-main text-tertiary text-center">
      <h4>made with <i class="fas fa-heart"></i> and <i class="fas fa-code"></i> by taneisha stoll &#169; 2018</h4>
    </div>
    <div class="section1 bg-accent" style='height: 2vh;'></div>

  </body>
</html>
