<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <meta name="author" content="Taneisha Stoll">
    <meta name="description" content="Have a project in mind? Need website help? I can help.">
    <meta name="keywords" content="HTML,CSS,JavaScript,Developer,Freelance">
    <title>taneisha jessica stoll | phytecma-tist</title>
    <link rel="icon" type="image/png" href="./images/logo-icon.png"/>
    <link rel="stylesheet" href="css/styles.css">
    <!-- New FA -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  </head>

  <body>

    <!-- NAVIGATION -->
    <div id='navigation' class='col'>
      <div class="navigation">
        <div class="menuButton" id='toggleMenu' onclick='toggleNav()'>
          <i class="fas fa-bars" id='open'></i>
          <i class='fas fa-times' id='close'></i>
        </div>
        <div class="menu">
          <div class="menuButton">
            <a href='https://github.com/tjstoll' target='_blank'><i class="fab fa-github"></i></a>
          </div>
          <div class="menuButton">
            <a href='https://codepen.io/tjstoll/' target='_blank'><i class="fab fa-codepen"></i></a>
          </div>
          <div class="menuButton">
            <a href='https://www.instagram.com/_tjstoll/?hl=en' target='_blank'><i class="fab fa-instagram"></i></a>
          </div>
          <div class="menuButton">
            <a href='mailto:taneishastoll@gmail.com' target='_blank'><i class="far fa-envelope"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- TOP BANNER -->
    <div class="col bg-main" style='height: 2vh;'></div>

    <!-- LANDING -->
    <div class="container col lg-height landing">
      <div class="cc text-main">
        <h1>i'm<br>taneisha</h1>
        <p><span class='highlight'>phytecma-tist</span></p>
      </div>
    </div>

    <!-- ABOUT -->
    <div class="container col lg-height">
      <div class="flex1 block row-break">
        <div class="flex1 text-center col block">
          <div class="cc">
            <h1>all<br>about<br><span class='text-accent'>me</span></h1>
            <!-- <hr> -->
          </div>
        </div>
        <div class="flex2 col block">
          <div class="cc text-justify">
            <p>Hey, I'm <span class='highlight'>Taneisha</span>. Toronto-born and (mostly) raised. I'm an <span class='highlight'>Astronomy and Physics</span> graduate from the University of Toronto. I have a passion for <span class='highlight'>science and technology</span> and combine what I know with what I love to develop useful solutions for people just like <span class='highlight'>you.</span></p>
          </div>
        </div>
      </div>
    </div>

    <!-- PROJECTS -->
    <div class="container md-height col">
      <div class="cc text-center">
        <div class="flex1 block">
          <a href="https://github.com/tjstoll"><i class="fas fa-code-branch fa-3x"></i></a>
        </div>
        <div class="flex2 block">
          <h2>projects</h2>
          <p><span class='highlight'>past and present</span></p>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="bg-tertiary text-secondary text-center block">
      <h4>made with <i class="fas fa-heart"></i> and <i class="fas fa-code"></i> by taneisha stoll &#169; 2019</h4>
    </div>
    <div class="col bg-main" style='height: 2vh;'></div>

    <script type="text/javascript" src='./js/index.js'></script>

  </body>
</html>
