<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>taneisha</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://github.com/tjstoll/tjstoll.github.io/blob/master/images/logo.svg"/>
    <link rel="stylesheet" href="css/styles.css">
    <!-- Old FA -->
    <script src="https://use.fontawesome.com/3c607a4c65.js"></script>
    <!-- New FA -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  </head>

  <body>

    <div class="wrapper col">
    <div class="content-box cc">
      <!-- HEADER -->
      <div class='header col b'>
        <ul class='header-links'>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-codepen"></i></a></li>
          <li><a href='#'><i class="fab fa-git"></i></a></li>
          <li><a href="#"><i class="far fa-envelope"></i></a></li>
        </ul>
      </div>
      <!-- END HEADER -->

      <section class='bg-main landing'></section>

      <section class='about row lc'>
        <div class="width50 cc">
          <h1 class='text-center'>About</h1>
          <p class='text-justify'>Hey, I'm Taneisha Stoll. I am Toronto born and (mostly) raised. I am an astronomy and physics graduate with a passion for web development. I combine what I know with what I love to develop useful solutions for people just like you.</p>
        </div>
      </section>

      <section class='row lc bg-fourthiary'>
        <div class="cc">
          <p class='text-center'><a href="#"><i class="fab fa-codepen"></i></a> See my code in action</p>
        </div>
      </section>

      <section class='row lc bg-fourthiary'>
        <div class="cc">
          <p class='text-center'><a href='#'><i class="fab fa-git"></i></a> See my contributions</p>
        </div>
      </section>

      <section class='col contact b'>
        <div class="text-center">
          <img src="./images/logo.svg" height='200px' alt="tjstoll">
        </div>
        <div class="contact-info text-center">
          <p>hello@tjstoll.com</p>
          <p>416 459 5222</p>
          <p>Toronto ON Canada</p>
        </div>
        <div class="content-footer bg-main text-center">
          <p>made with <i class="fas fa-heart"></i> and <i class="fas fa-code"></i> by tjstoll</p>
        </div>
      </section>

      <!-- FOOTER -->
      <div class="footer">
        <div class="text-center">
          <p id='name'>TJSTOLL</p>
        </div>
      </div>
      <!-- FOOTER -->
    </div>
    </div>

  </body>
</html>
