<div class="container bg-main text-tertiary text-center">
  <h4>made with <i class="fas fa-heart"></i> and <i class="fas fa-code"></i> by taneisha stoll &#169; 2018</h4>
</div>
<div class="section1 bg-accent" style='height: 2vh;'></div>
<script type="text/javascript" src='./js/index.js'></script>

</body>
</html>
