<div class="navigation-small section1">
  <div class="nav-controls flex1 r">
    <i class="fas fa-bars controls" onclick="toggleSmallNav()"></i>
  </div>

  <div class="small-menu flex1 r">
    <!-- <div class="menuButton">
      <img src="images/logo.svg" alt="logo" height='20px'>
    </div> -->
    <div class="menuButton">
      <a href="https://tjstoll.github.io"><i class="fas fa-home"></i></a>
    </div>
    <div class="menuButton">
      <a href='https://github.com/tjstoll'><i class="fab fa-github"></i></a>
    </div>
    <div class="menuButton">
      <a href='https://codepen.io/tjstoll/'><i class="fab fa-codepen"></i></a>
    </div>
    <div class="menuButton">
      <a href='https://www.instagram.com/_tjstoll/?hl=en'><i class="fab fa-instagram"></i></a>
    </div>
    <div class="menuButton">
      <a href='mailto:taneishastoll@gmail.com'><i class="far fa-envelope"></i></a>
    </div>
  </div>
  <!-- <div class="section1 flex3 small-menu cc">
    <h1>menu</h1>
    <div class="section2">
      <div class="block text-center">
        <a href='https://tjstoll.github.io'><i class="fas fa-home fa-3x"></i></a>
        <p>home</p>
      </div>
      <div class="block text-center">
        <a href='#'><i class="far fa-user-circle fa-3x"></i></a>
        <p>about</p>
      </div>
      <div class="block text-center">
        <a href='#'><i class="fas fa-envelope fa-3x"></i></a>
        <p>contact</p>
      </div>
    </div>
  </div> -->
</div>
<h1>navbar</h1>
<div id='navigation-large' class='section1'>
  <div class="navigation">
    <!-- <div class="menuButton">
      <img src="images/logo.svg" alt="logo" height='20px'>
    </div> -->
    <div class="menuButton">
      <a href='https://github.com/tjstoll'><i class="fab fa-github"></i></a>
      <div class="subMenu">
        <ul>
          <li>github</li>
        </ul>
      </div>
    </div>
    <div class="menuButton">
      <a href='https://codepen.io/tjstoll/'><i class="fab fa-codepen"></i></a>
    </div>
    <div class="menuButton">
      <a href='https://www.instagram.com/_tjstoll/?hl=en'><i class="fab fa-instagram"></i></a>
    </div>
    <div class="menuButton">
      <a href='mailto:taneishastoll@gmail.'><i class="far fa-envelope"></i></a>
    </div>
  </div>
</div>
